<ul class="users">
  <% @my_friends.each do |friend| %>
    <li>
      <div style="float:left">
        <% unless friend.provider %>
          <%= gravatar_for friend, size: 50 %>
        <% else %>
          <%= image_tag friend.avatar_file_name, class: "gravatar", size: "50" %>
        <% end %>
        <%= link_to friend.full_name, friend %>
      </div>
      <div style="float:right">
      <%= link_to "Challenge", challenges_path( sender_id: current_user.id,
                                                receiver_id: friend.id), method: :post, class: "btn btn-primary" %> <br />
      </div>
    </li>
  <% end %>
</ul>

<div class="text-center">
  <%= will_paginate @my_friends %>
</div>
