<%= form_for @skin,  id: "add_skin_form", remote: true, html: { multipart: true } do |f| %>

  <div id="skin_error_explanation">
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %><br>
    <%= f.text_field :name, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :skin_type, class: 'control-label' %><br>
    <%= f.text_field :skin_type, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :price, class: 'control-label' %><br>
    <%= f.text_field :price, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="form-group">
    <%= f.label :image, class: 'control-label' %><br>
    <%= f.file_field :image, class: 'form-control' %>
    <span class="help-block"></span>
  </div>

  <div class="actions" style="text-align:center">
    <%= f.submit 'Add skin', class: 'btn btn-success'%>
  </div>

<% end %>
