<% @skins.each do |s| %>
  <% if s.skin_type == @type %>
    <tr>
      <td> <%= image_tag s.image.url(:thumb) %> </td>
      <td> <h3> <%= s.name.humanize %> </h3> </td>
      <td> <%= s.price %> $ </td>
      <td>
        <div style="float:right">
          <% if s.price > 0 %>
          <%= form_tag charges_path(skin_id: s.id) do %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-email="<%=current_user.email%>"
                    data-description="<%=s.name.humanize %>"
                    data-amount="<%=s.price * 100%>"
                    data-locale="auto"
                    data-label="Buy now!">
            </script>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
