<% @skins.each do |s| %>
  <% if s.skin_type == @type %>
    <tr>
      <td> <%= image_tag s.image.url(:thumb) %> </td>
      <td> <h3> <%= s.name.humanize %> </h3> </td>
      <td> <%= s.price %> $ </td>
      <td>
        <div style="float:right">
          <% if s.price > 0 %>
            <%= link_to "Buy Skin", "#buy_skin_modal_#{s.id}", class: "btn btn-primary", id: "buy_skin_button", data: {toggle: "modal"} %>
            <%= render 'buy_skin_modal', skin: s %>
          <% end %>
        </div>
      </td>
    </tr>
  <% end %>
<% end %>
