<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="text/javascript" src="https://js.stripe.com/v2/"> </script>

    <script type="text/javascript">
      Stripe.setPublishableKey("pk_test_LRuYueDDrnX2TeBOkJEP7XUw");
    </script>

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
    <![endif]-->
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <% if notice %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger" ><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>
    <div class="container">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
